<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="login">
        <input name="_csrf" type="hidden" value="0e53279f-6122-4151-bb78-227d06aed51c" />
        <a href="/login">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </a>
    </form>
    <form class="form-signin" method="post" action="/registration.html">
        <input name="_csrf" type="hidden" value="0e53279f-6122-4151-bb78-227d06aed51c" />
        <button class="btn btn-rg btn-primary btn-block" type="submit">Sing up</button>
    </form>
</div>
</body></html>